extends ../layout

block content
  .w3-bar.w3-margin-bottom
    h2.w3-bar-item(style='margin:0;padding:0') Registos
    if utilizador
      a.w3-button.w3-dark-grey.w3-bar-item.w3-right(href='/inquiricoes/novo') + Novo Registo

  //- Filtros
  .w3-card.w3-padding.w3-margin-bottom
    form(action='/inquiricoes' method='GET')
      .w3-row-padding
        .w3-col.m3
          label Nome
          input.w3-input.w3-border(type='text' name='requerente' value=query.requerente || '')
        .w3-col.m3
          label Concelho
          input.w3-input.w3-border(type='text' name='concelho' value=query.concelho || '')
        .w3-col.m3
          label Distrito
          input.w3-input.w3-border(type='text' name='distrito' value=query.distrito || '')
        .w3-col.m3
          label Ano
          input.w3-input.w3-border(type='text' name='ano' value=query.ano || '')
      .w3-row-padding.w3-margin-top
        .w3-col.m6
          label Pesquisa livre
          input.w3-input.w3-border(type='text' name='texto' value=query.texto || '')
        .w3-col.m6.w3-margin-top
          button.w3-button.w3-dark-grey(type='submit') Pesquisar
          a.w3-button.w3-grey.w3-margin-left(href='/inquiricoes') Limpar

  p #{total} resultado(s) — página #{pagina}

  table.w3-table.w3-striped.w3-bordered
    thead
      tr.w3-dark-grey
        th Processo
        th Requerente
        th Pai
        th Mãe
        th Data
        th Concelho
    tbody
      each inq in inquiricoes
        tr
          td: a(href=`/inquiricoes/${inq.proc_numero}`) #{inq.proc_numero}
          td #{inq.requerente || '—'}
          td #{inq.pai || '—'}
          td #{inq.mae || '—'}
          td #{inq.data_inicial || '—'}
          td #{inq.concelho || '—'}

  //- Paginação
  .w3-bar.w3-margin-top
    if pagina > 1
      a.w3-button.w3-dark-grey(href=`/inquiricoes?${new URLSearchParams(Object.assign({}, query, {pagina: pagina - 1}))}`) ← Anterior
    if pagina * limite < total
      a.w3-button.w3-dark-grey.w3-margin-left(href=`/inquiricoes?${new URLSearchParams(Object.assign({}, query, {pagina: pagina + 1}))}`) Seguinte →
